# Django Settings
SECRET_KEY=
ALLOWED_HOSTS=localhost, 127.0.0.1, 0.0.0.0
STATIC_URL=/static/
MEDIA_URL=/media/

# PostgreSQL Configuration
DB_NAME=infobus
DB_USER=
DB_PASSWORD=
DB_HOST=store
DB_PORT=5432

# Redis Configuration
REDIS_HOST=state
REDIS_PORT=6379
REDIS_CELERY_DB=0

# NanoMQ Configuration
NANOMQ_LOG_LEVEL=INFO

# RabbitMQ Configuration
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=broker
RABBITMQ_PORT=5672

# Google Maps API Key
API_TOKEN=

# Host Machine Port Configuration
BACKEND_PORT=8000
STORE_PORT=5432
STATE_PORT=6379
BROKER_AMQP_PORT=5672
BROKER_MANAGEMENT_PORT=15672
BROKER_PROMETHEUS_PORT=15692
